<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll" verbose="1">

  <parameter name="url" value="${slv.url}" />
  <parameter name="login" value="${slv.user}" />
  <parameter name="password" value="${slv.password}" />
  <test name="rest">
    <classes>
      <class name="com.slv.slvapi.users.UsersTest" />
      <class name="com.slv.slvapi.userprofile.UserProfileTest" />
      <class name="com.slv.slvapi.providers.ProvidersTest" />
    </classes>
  </test>

</suite>