<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll" verbose="1">

	<parameter name="url" value="${slv.url}" />
	<parameter name="login" value="${slv.user}" />
	<parameter name="password" value="${slv.password}" />
	<test name="rest">
		<groups>
			<define name="include-group">
				<include name="user"></include>
			</define>
			<run>
				<include name="include-group"></include>
			</run>
		</groups>
		<classes>
			<class name="com.slv.slv_api.TestRest" />
		</classes>
	</test>

</suite>